body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

img {
    width: 100%;
    border-radius: 0.7rem;
}

h3 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
}

.qr-code-background {
    background-color: hsl(0, 0%, 100%);
    padding: 1%;
    width: 20%;
    border-radius: 0.7rem;
    margin: 5% auto;
}    

.description {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 0.95rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 450px) {
    .qr-code-background {
        padding: 4%;
        width: 80%;
        margin: 10% auto 50%;
    }
    
    h3 {
        font-family: 'Outfit', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
    }

    .description {
        font-family: 'Outfit', sans-serif;
        font-weight: 400;
        font-size: 1.15rem;
    }
}